
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

  }
  
header {      
    background-color: #E9EDC9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5%;
  }
footer{    
    background-color: #FAEDCD;
    text-align: center;
    padding: 0.5%;
}
.margin{
    margin-top: 1.5cm;
    margin-bottom: 1cm;
}

#carouselControls{
    padding: 3cm;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CCD5AE' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23CCD5AE' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-item img {
    max-height: 1000px;
    object-fit: cover;
}

.card {
    height: 100%;
  }

  .card-text a:link { color: #D4A373; }
  .card-text a:visited { color: #D4A373; }
  .card-text a:hover { color: #D4A373; }
  .card-text a:active { color: #D4A373; }